<div class="section section-cadastro">
    <div class="cadastro-intro">
      <h3 class="intro-title">Informações da conta</h3>
      <p class="intro-desc">Agora vamos configurar a sua conta...</p>
    </div>
    <div class="cadastro-etapa2-content">
      <button (click)="sendModels()">models</button>
      <div class="content-perfil-desc">
        <div class="content-perfil-desc-item">
          <mat-form-field class="example-full-width input">
            <mat-label>Login</mat-label>
            <input matInput 
            name="nome" type="text" 
            [(ngModel)]="usuarioModel.loginUsuario"
            autocomplete="nome" autofocus>
          </mat-form-field>

          <!-- if error -->
          <span class="erro" role="alert">
            <strong>message</strong>
          </span>
          <!-- end if error -->
        </div>
  
        <div class="content-perfil-desc-item">
          <mat-form-field class="example-full-width input">
            <mat-label>Email</mat-label>
            <input matInput id="email" 
            type="email" name="email" [(ngModel)]="usuarioModel.email"
            autocomplete="email">
          </mat-form-field>

          <!-- if error -->
          <span class="erro" role="alert">
            <strong>message</strong>
          </span>
          <!-- end if error -->
        </div>
  
        <div class="content-perfil-desc-item">
          <mat-form-field class="example-full-width input">
            <mat-label>Senha</mat-label>
            <input matInput type="password" 
            id="senha" name="password" [(ngModel)]="usuarioModel.password"
            value="" autocomplete="password">
          </mat-form-field>

          <!-- if error -->
          <span class="erro" role="alert">
            <strong>message</strong>
          </span>
          <!-- end if error -->
        </div>
  
        <div class="content-perfil-desc-item">
          <mat-form-field class="example-full-width input">
            <mat-label>Confirmar senha</mat-label>
            <input matInput type="password" 
            id="confirmar-senha" name="password_confirmation" [(ngModel)]="usuarioModel.passwordConfirm"
            value="" autocomplete="password_confirmation">
          </mat-form-field>
          <!-- if error -->
          <span class="erro" role="alert">
            <strong>{{ $message }}</strong>
          </span>
          <!-- end if error -->
        </div>
      </div>
    </div>
  </div>
  