@import '../../shared/scss/variables.scss';

.form-inputs{
    &-endereco{
        margin: 2%;
        width: 40%;
        display: inline-block;

        @include MQ($S) {
            margin: 2%;
            display: inline-block;
            width: auto;
        }
    }

}