<section class="create-vagas">
    <div class="wrapper">
        <div class="header">
            <h1 class="title">Cadastro de vagas</h1>
        </div>
        
        <div class="content">
            <mat-horizontal-stepper class="container">
                <mat-step>
                    <ng-template matStepLabel>Localização</ng-template>
                    <form class="form" [formGroup]="address">
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>CEP</mat-label>
                            <input matInput placeholder="Ex. 00000-000" formControlName="cepEndereco" (focusout)="searchLocation(cep.value)" #cep required>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Logradouro</mat-label>
                            <input matInput formControlName="logradouroEndereco" required>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Numero</mat-label>
                            <input matInput formControlName="numeroEndereco" required>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Complemento</mat-label>
                            <input matInput formControlName="complementoEndereco">
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Bairro</mat-label>
                            <input matInput formControlName="bairroEndereco" required>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Zona</mat-label>
                            <input matInput formControlName="zonaEndereco" required>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Cidade</mat-label>
                            <input matInput formControlName="cidadeEndereco" required>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Estado</mat-label>
                            <input matInput placeholder="Ex. SP" formControlName="estadoEndereco" required>
                        </mat-form-field>
                    </form>
                    <div>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </mat-step>
                
                <mat-step>
                    <ng-template matStepLabel>Descrição</ng-template>
                    <form [formGroup]="description">
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Salario</mat-label>
                            <input matInput formControlName="salarioVaga" type="number" class="right-align" required>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Carga Horaria</mat-label>
                            <input matInput formControlName="cargaHorariaVaga" placeholder="Ex. 8h" required>
                        </mat-form-field>
                        
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Profissão</mat-label>
                            <mat-select required formControlName="codProfissao" required>
                                <mat-option *ngFor="let profissao of profissaoList" [value]="profissao.codProfissao">
                                    {{profissao.nomeProfissao}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Regime de contratação</mat-label>
                            <mat-select required formControlName="codRegimeContratacao">
                                <mat-option *ngFor="let regime of regimeList" [value]="regime.codRegimeContratacao">
                                    {{regime.nomeRegimeContratacao}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Quantidade</mat-label>
                            <input matInput formControlName="quantidadeVaga" required>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput formControlName="descricaoVaga" required></textarea>
                        </mat-form-field>
                        <!-- <app-description-box></app-description-box> -->
                    </form>
                    <div>
                        <button mat-button matStepperPrevious class="btn-prev">Voltar</button>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </mat-step>
                
                <mat-step>
                    <ng-template matStepLabel>Beneficios</ng-template>
                    <form>
                        <button type="button" mat-fab color="primary" (click)="addBenefit()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <section *ngFor="let benefit of benefits; let i = index;" class="beneficio">
                            <button type="button" mat-mini-fab color="warn" (click)="removeBenefit(i)" class="btn-delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-form-field class="quarter-width" appearance="outline">
                                <mat-label>Nome do beneficio</mat-label>
                                <input matInput required name="nomeBeneficio{{i}}" [(ngModel)]="benefit.nomeBeneficio">
                            </mat-form-field>
                        </section>
                    </form>
                    <div>
                        <button mat-button matStepperPrevious class="btn-prev">Voltar</button>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </mat-step>
                
                <mat-step>
                    <ng-template matStepLabel>Requisitos</ng-template>
                    <form>
                        <div class="requisitos__description">Ter, no mínimo...</div>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>
                                <div class="requisito__name">
                                    <div class="requisito__img">
                                        <img src="../../../assets/images/icones/requisitos/escolaridade.png" class="requisito__img-icon">
                                    </div>
                                    Escolaridade
                                </div>
                            </mat-label>
                            <mat-select required [(ngModel)]="selectedEsclr" name="escolaridade">
                                <mat-option *ngFor="let escolaridade of escolaridadeList" [value]="escolaridade">
                                    {{ escolaridade.nomeAdicional }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="quarter-width" appearance="outline">
                            <mat-label>
                                <div class="requisito__name">
                                    <div class="requisito__img">
                                        <img src="../../../assets/images/icones/requisitos/alfabetizacao.png" class="requisito__img-icon">
                                    </div>
                                    Alfabetização
                                </div>
                            </mat-label>
                            <!-- <mat-label>Alfabetização</mat-label> -->
                            <mat-select required [(ngModel)]="selectedAlf" name="alfabetizacao">
                                <mat-option *ngFor="let alfabetizacao of alfabetizacaoList" [value]="alfabetizacao">
                                    {{ alfabetizacao.nomeAdicional }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="requisitos__description requisitos__description--habilidade">Ser bom em...</div>
                        <div class="habilidades">
                            <div class="habilidade" *ngFor="let habilidade of habilidadeList">
                                <input type="checkbox" class="d-none input-requisito" id="{{ habilidade.codAdicional }}" name="{{ habilidade.nomeAdicional }}" [value]="habilidade.codAdicional"  [(ngModel)]="habilidade.checked">
                                <label for="{{ habilidade.codAdicional }}" class="habilidade__icon">
                                    <img src="../../../assets/images/icones/habilidades/{{ habilidade.imagemAdicional }}">
                                    {{ habilidade.nomeAdicional }}
                                </label>
                                <mat-checkbox class="requisito__obrigatorio" id="{{ habilidade.codAdicional }}" name="{{ habilidade.codAdicional }}" [(ngModel)]="habilidade.obridatorio" [disabled]="habilidade.checked === false">Obrigatório</mat-checkbox>
                            </div>
                        </div>
                    </form>
                    <div>
                        <button mat-button matStepperPrevious class="btn-prev">Voltar</button>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </mat-step>
                
                <mat-step>
                    <ng-template matStepLabel>Resumo</ng-template>
                    <div class="resumo">
                        <div class="resumo--topico">
                            <div class="resumo--topico-title">Enderço</div>
                            <div class="resumo--topico-list">
                                <div class="resumo--topico-list-item">CEP: <span class="resumo--topico-list-item__span">{{address.value.cepEndereco}}</span></div>
                                <div class="resumo--topico-list-item">Logradouro: <span class="resumo--topico-list-item__span">{{address.value.logradouroEndereco}}</span></div>
                                <div class="resumo--topico-list-item">Numero: <span class="resumo--topico-list-item__span">{{address.value.numeroEndereco}}</span></div>
                                <div class="resumo--topico-list-item">Complemento: <span class="resumo--topico-list-item__span">{{address.value.complementoEndereco}}</span></div>
                                <div class="resumo--topico-list-item">Bairro: <span class="resumo--topico-list-item__span">{{address.value.bairroEndereco}}</span></div>
                                <div class="resumo--topico-list-item">Zona: <span class="resumo--topico-list-item__span">{{address.value.zonaEndereco}}</span></div>
                                <div class="resumo--topico-list-item">Cidade: <span class="resumo--topico-list-item__span">{{address.value.cidadeEndereco}}</span></div>
                                <div class="resumo--topico-list-item">Estado: <span class="resumo--topico-list-item__span">{{address.value.estadoEndereco}}</span></div>
                            </div>
                        </div>
                        
                        <div class="resumo--topico">
                            <div class="resumo--topico-title">Descrição</div>
                            <div class="resumo--topico-list">
                                <div class="resumo--topico-list-item">Salario: <span class="resumo--topico-list-item__span">{{description.value.salarioVaga}}</span></div>
                                <div class="resumo--topico-list-item">Carga Horaria: <span class="resumo--topico-list-item__span">{{description.value.cargaHorariaVaga}}</span></div>
                                <div class="resumo--topico-list-item">Quantidade: <span class="resumo--topico-list-item__span">{{description.value.quantidadeVaga}}</span></div>
                                <div class="resumo--topico-list-item">Profissão: <span class="resumo--topico-list-item__span">{{description.value.codProfissao}}</span></div>
                                <div class="resumo--topico-list-item">Regime de contratação: <span class="resumo--topico-list-item__span">{{description.value.codRegimeContratacao}}</span></div>
                                <div class="resumo--topico-list-item">Descrição: <span class="resumo--topico-list-item__span">{{description.value.descricaoVaga}}</span></div>
                            </div>
                        </div>
                        
                        <div class="resumo--topico">
                            <div class="resumo--topico-title">Beneficios</div>
                            <div class="resumo--topico-list">
                                <div class="resumo--topico-list-item" *ngFor="let benefit of benefits"><span class="resumo--topico-list-item__span">{{benefit.nomeBeneficio}}</span></div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <button mat-button matStepperPrevious class="btn-prev">Voltar</button>
                        <button mat-button (click)="submit()">Cadastrar</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            
        </div>
    </div>
</section>