@import '../../shared/scss/variables.scss';
@import '../../shared/scss/base.scss';
.create-vagas {
    background: #e5e5e5;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.header {
    align-items: center;
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: space-between;
}

.title {
    font: 35px $font-regular;
    margin: 20px;
    text-transform: uppercase;
    @include MQ ($S) {
        font-size: 30px;
        margin: 20px 20px 15px;
    }
    @include MQ ($XS) {
        font-size: 25px;
    }
}

.form {
    margin: auto;
    max-width: 450px;
    
    &__select, &__input {
        width: 100%;
    }
}

.beneficio {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.address__checkbox {
    margin-bottom: 30px;
}

.container {
    height: 100%;
    overflow-y: scroll;
}

.create-vaga__container-select {
    display: flex;
    justify-content: space-between;

    .create-vaga__select {
        align-items: center;
        background: #f2f2f2;
        border: 1px solid #b9b9b9;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 50px;
        justify-content: flex-start;
        padding-left: 15px;
        position: relative;
        transition: all 0.3s;
        width: 100%;

        &-text {
            color: #151515;
            font: 17px $font-regular;
            height: 100%;
            margin-top: 15px;
            text-align: left;
            width: 100%;
        }

        &-options {
            background: #f2f2f2;
            border: 1px solid #b9b9b9;
            border-radius: 0 0 5px 5px;
            margin-top: 13px;
            margin-left: -14px;
            max-height: 310px;
            height: 0;
            opacity: 0;
            overflow-y: auto;
            transition: all 0.3s;
            width: 107%;
            z-index: 10;

            &.is-active {
                min-height: 50px;
                opacity: 1;
            }

            &-item {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                height: 50px;
                padding-left: 10px;
                transition: all 0.5s;
                width: 100%;

                &:hover {
                    background: $orange;
                    color: #fff;
                }

                img {
                    height: 30px;
                }

                p {
                    font: 16px $font-regular;
                    margin-left: 15px;
                }
            }
        }

        &-options-profissao {
            p {
                font-size: 15px;
                margin-left: 0;
            }
        }

        &:before {
            border: 1px solid transparent;
            border-bottom-color: #b9b9b9;
            border-right-color: #b9b9b9;
            content: "";
            height: 8px;
            position: absolute;
            right: 15px;
            transform: rotate(45deg);
            top: 15px;
            width: 8px;
        }
    }

    .create-vaga__select + .create-vaga__select {
        margin-left: 15px;
    }
}

.create-vaga__container-select + .create-vaga__container-select {
    margin-top: 15px;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidade {
    margin: 10px 20px 20px 0;

    &__icon {
        border: 2px solid #c7c7c7;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font: 15px $font-regular;
        height: 120px;
        padding: 10px;
        transition: all .5s ease-in-out;
        width: 130px;
        img {
            width: 70px;
            margin: 10px auto;
        }
    }
}

.requisitos__description {
    font: 16px $font-bold;
    text-align: left;

    &:first-child {
        margin-bottom: 15px;
        margin-left: 10px;
    }
    
    &--habilidade {
        border-top: 1px solid #9b9b9b;
        margin: 10px 0 0;
        padding: 15px 10px;
    }
}

.requisito {
    &__name {
        align-items: center;
        display: flex;
    }
    &__img-icon {
        margin-right: 10px;
        width: 30px;
    }
}

::ng-deep .mat-checkbox-label {
    font: 15px $font-regular;
}

::ng-deep .mat-checkbox-layout {
    margin-top: 5px;
}

.input-requisito:checked~.habilidade__icon {
    background-color: rgba(236, 55, 124, 0.35);
    border-color: $pink_light;
}

::ng-deep .mat-step-header {
    height: 30px !important;
    margin: 30px 25px;
    padding: 0 !important;
}

::ng-deep .mat-step-header:hover {
    background-color: transparent !important;
    opacity: 0.8 !important;
}

::ng-deep .mat-step-header .mat-step-label {
    font-family: $font-regular;
}

// ::ng-deep .mat-step-header .mat-step-icon {
//     font-family: $font-regular;
// }
::ng-deep .mat-stepper-horizontal,
.mat-stepper-vertical {
    background-color: #e5e5e5 !important;
    overflow: hidden !important;
}

.ng-star-inserted {
    text-align: center;
}

.btn-prev.mat-button {
    border-color: $orange !important;
    color: $orange;
    margin-bottom: 30px !important;
}

.btn-prev.mat-button:hover {
    background-color: $orange !important;
    color: #fff !important;
}

::ng-deep .mat-button {
    border: 1.5px solid $pink_light !important;
    color: $pink_light;
    font-weight: bold;
    margin: 0 5px !important;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    width: 110px;
}

::ng-deep .mat-button:hover {
    background-color: $pink_light;
    color: #fff;
}

::ng-deep .mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: $dark_red;
    margin: -10px 0 30px;
}

::ng-deep .mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
    background-color: #ff9015;
    margin: -20px 0 0 10px;
}

::ng-deep .quarter-width {
    vertical-align: top;
    width: 48% !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #F2F2F2;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border: 1px solid $dark_red;
    color: $dark_red;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-width: 1px!important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-width: 1px!important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 2em 0 1em 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    font-family: $font-regular;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $orange;
    cursor: text;
}

textarea.mat-input-element {
    height: 100px;
    resize: none;
}

.habilidades.mat-form-field {
    display: inline;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $pink_light;
}

::ng-deep .mat-horizontal-stepper-content {
    font-family: $font-regular;
    height: 480px;
    overflow: auto !important;
    padding: 0 10px;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
    background-color: $pink_light !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: $pink_light !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #ff4081 !important;
}
