@import '../../scss/variables.scss';

.accordion {
    display: flex;
    justify-content: space-between;

    &--container {
        box-shadow: none;
        border-radius: 0 !important;
        width: 100%;

        &-header {
            border-bottom: 1px solid $pink_light;
            background: #f2f2f2;
          text-transform: uppercase;
            transition: all .5s ease-in-out;
        }

        &-title {
            color: $pink_light;
            font: 18px/26px $font-bold;
            transition: all .5s ease-in-out;

            &-icon {
                margin-right: 15px;
                width: 25px;
            }
        }
    }

    &--content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        max-height: 166px;
        overflow-y: auto;

        &-item {
            align-items: center;
            background: #f7f7f7;
            border-radius: 5px;
            display: flex;
            margin-top: 20px;
            padding: 10px 15px;
            width: 90%;

            &:first-child {
                margin-top: 0;
            }
        }

        &-img-icon {
            font-size: 30px;
            height: 30px;
            width: 35px;
        }

        &-desc {
            &-name {
                color: $pink_light;
                font: 10px $font-regular;
                font-weight: 900;
                text-transform: uppercase;
            }

            &-text {
                color: #000;
                font: 19px $font-regular;
            }
        }
    }
}

::ng-deep .mat-expansion-panel-header {
    background-color: #f2f2f2 !important;
    height: 50px !important;
}

::ng-deep .mat-expansion-panel-header-title {
    color: $pink_light !important;
}

::ng-deep .mat-expansion-panel-body {
    background-color: #e8e8e8;
    border-top: none;
    height: 190px;
    padding: 0 10px 15px !important;
}

::ng-deep .mat-expansion-indicator::after {
    border-color: $pink !important;
    margin-bottom: 5px;
    padding: 5px !important;
}

// ::ng-deep .mat-expansion-panel {
//     background-color: $pink_light;
// }

// ::ng-deep .cdk-focused {
//     display: none;
// }
