<div class="counter-etapas-content">    
    <div class="etapas-btn etapas-btn-cadastro">
        <div class="icon-voltar icon-voltar-cadastro">
            <a href="cadastro">
              <img src="../../../assets/images/componentes/seta-voltar.svg" alt="Voltar" class="icon-voltar-img">
            </a>
        
        </div>   
        <button (click)="showdata()">show data</button>
        <form>
            <app-etapa1 
            *ngIf="page === 1" (sendUsuarioModel)="receiveUsuarioModel($event)" 
            (sendCandidatoModel)="receiveCandidatoModel($event)"></app-etapa1>
            <app-etapa2 *ngIf="page === 2" (sendUsuarioModel)="receiveUsuarioModel($event)"></app-etapa2>
            <app-etapa3 *ngIf="page === 3" (sendEnderecoModel)="receiveEnderecoModel($event)"></app-etapa3>
            <app-steps></app-steps>
            <button *ngIf="page > 1" class="btn etapas-btn-item is-disable" (click)="prevPage()">
                Voltar
            </button>
            <button *ngIf="page === 1 || page === 2" class="btn etapas-btn-item" (click)="nextPage()">
                Avançar
            </button>
        </form>
    </div>
</div>

