<!--<div class="candidato__focus">-->
<!--    <div class="candidato__header">-->
<!--        <div class="candidato__category">-->
<!--            <img src="../../../assets/images/icones/profissao/livros.png" alt="Professor" class="candidato__header-icon">-->
<!--            <h1 class="candidato__title">-->
<!--                Professor-->
<!--            </h1>-->
<!--        </div>-->

<!--        <div class="process__button">-->
<!--            <div class="process__button-item process__button-item&#45;&#45;decline candidato">-->
<!--                Recusar-->
<!--                <mat-icon>close</mat-icon>-->
<!--            </div>-->
<!--            <div class="process__button-item process__button-item&#45;&#45;accept candidato">-->
<!--                Selecionar-->
<!--                <mat-icon>done</mat-icon>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    -->
<!--    <div class="candidato__content">-->
<!--        <div class="candidato__content-item">-->
<!--            <div class="xp__title">-->
<!--                Experiência profissional-->
<!--            </div>-->
<!--            <div class="xp__item" *ngFor='let item of itens'>-->
<!--                <app-accordion [title]="item.name">-->
<!--                    <div class="xp__text">-->
<!--                        {{ item.text }}-->
<!--                    </div>-->
<!--                </app-accordion>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="candidato__content-item">-->
<!--            <div class="profile">-->
<!--                <div class="profile__perfil">-->
<!--                    <div class="profile__perfil-percent">-->
<!--                        <svg>-->
<!--                            <circle cx="80" cy="80" r="80"></circle>-->
<!--                            <circle cx="80" cy="80" r="80"></circle>-->
<!--                        </svg>-->
<!--                        <div class="profile__perfil-img">-->
<!--                            <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="profile__perfil-img-icon">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="profile__info">-->
<!--                    <div class="profile__info-item">-->
<!--                        Cyntia Sayuri de Almeida, 19 anos-->
<!--                    </div>-->
<!--                    <div class="profile__info-item profile__email">-->
<!--                        <a href="mailto:email@email.com.br" class="profile__email-link">-->
<!--                            <mat-icon style="font-size: 21px; line-height: 26px;">mail_outline</mat-icon> Enviar email-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="topicos">-->
<!--                <div class="topicos__title">-->
<!--                    Requisitos-->
<!--                </div>-->
<!--                <div class="topicos__list topicos__list&#45;&#45;requisito">-->
<!--                    <div class="topicos__list-item topicos__list-item&#45;&#45;requisito">-->
<!--                        <img src="../../../../assets/images/icones/requisitos/alfabetizacao.png" alt="Alfabetizado" class="topicos__list-item-icon">-->
<!--                        <div class="topicos__list-item-name">Alfabetizado</div>-->
<!--                    </div>  -->
<!--                    <div class="topicos__list-item topicos__list-item&#45;&#45;requisito">-->
<!--                        <img src="../../../../assets/images/icones/requisitos/escolaridade.png" alt="Escolarizado" class="topicos__list-item-icon">-->
<!--                        <div class="topicos__list-item-name">Escolarizado</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        -->
<!--        <div class="candidato__content-item">-->
<!--            <div class="description">-->
<!--                <mat-tab-group>-->
<!--                    <mat-tab>-->
<!--                        <ng-template mat-tab-label md-no-pagination="true">-->
<!--                            <mat-icon>videocam</mat-icon>-->
<!--                        </ng-template>-->
<!--                        -->
<!--                        <div class="description__video">-->
<!--                            <img src="../../../../assets/images/video.png" alt="Descrição do candidato" class="description__video-img">-->
<!--                        </div>-->
<!--                    </mat-tab>-->
<!--                    -->
<!--                    <mat-tab>-->
<!--                        <ng-template mat-tab-label>-->
<!--                            <mat-icon>notes</mat-icon>-->
<!--                        </ng-template>-->
<!--                        -->
<!--                        <div class="description__text">-->
<!--                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum commodi et, magni recusandae dicta repudiandae fuga provident possimus voluptatem dolores harum officia assumenda cumque sunt maxime nostrum nam sapiente dignissimos?-->
<!--                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum commodi et, magni recusandae dicta repudiandae fuga provident possimus voluptatem dolores harum officia assumenda cumque sunt maxime nostrum nam sapiente dignissimos?-->
<!--                        </div>-->
<!--                    </mat-tab>-->
<!--                </mat-tab-group>-->
<!--            </div>-->

<!--            <div class="topicos">-->
<!--                <div class="topicos__title">-->
<!--                    Habilidades-->
<!--                </div>-->
<!--                <div class="topicos__list">-->
<!--                    <div class="topicos__list-item">-->
<!--                        <img src="../../../../assets/images/icones/habilidades/baby.png" alt="Crianças" class="topicos__list-item-icon">-->
<!--                        <div class="topicos__list-item-name">Crianças</div>-->
<!--                    </div>-->
<!--                    <div class="topicos__list-item">-->
<!--                        <img src="../../../../assets/images/icones/habilidades/matematica.png" alt="Matematica" class="topicos__list-item-icon">-->
<!--                        <div class="topicos__list-item-name">Números</div>-->
<!--                    </div>-->
<!--                    <div class="topicos__list-item">-->
<!--                        <img src="../../../../assets/images/icones/habilidades/relacionamento.png" alt="Relacionamento" class="topicos__list-item-icon">-->
<!--                        <div class="topicos__list-item-name">Relacionamento</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="candidato__focus">
    <div class="candidato__header">
        <div class="profile">
            <div class="profile__perfil">
                <div class="profile__perfil-percent">
                    <svg>
                        <circle cx="80" cy="80" r="80"></circle>
                        <circle cx="80" cy="80" r="80"></circle>
                    </svg>
                    <div class="profile__perfil-img">
                        <img src="https://i.guim.co.uk/img/media/fc3b077685461992e9cb75e51ce995088de338ce/0_67_5175_3105/master/5175.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=e174022fbd43673f2119e8ed9ce564ff" alt="Nome do candidato" class="profile__perfil-img-icon">
                    </div>
                </div>
            </div>
            <div class="profile__info">
                <div class="profile__info-item">
                    Louis William Tomlinsom
                </div>

                <div class="profile__age">
                    28 anos
                </div>

                <div class="profile__info-item profile__email">
                    <a href="mailto:email@email.com.br" class="profile__email-link">
                        <mat-icon style="font-size: 21px; line-height: 26px;">mail_outline</mat-icon> Enviar email
                    </a>
                </div>
            </div>
        </div>

        <div class="process__button">
            <div class="process__button-item process__button-item--decline candidato">
                <mat-icon>close</mat-icon> Recusar
            </div>
            <div class="process__button-item process__button-item--accept candidato">
                <mat-icon>done</mat-icon> Selecionar
            </div>
        </div>
    </div>
    <div class="candidato__content">
        <div class="candidato__content-item">
            <app-description-box [isEditing]="false"></app-description-box>
        </div>

        <div class="candidato__content-item content__item-requisitos">
            <p class="content__item-title">
                Requisitos e Habilidades
            </p>

            <div class="content__item-list">
                <div class="content__item-list-item">
                    <div class="content__item-list-item-img">
                        <img class="content__item-list-item-icon" src="../../../../assets/images/icones/requisitos/alfabetizacao.png" alt="Alfabetizado">
                    </div>

                    <div class="content__item-list-item-name"> Alfabetizado </div>
                </div>
            </div>
        </div>
    </div>
    <div class="candidato__content-experiencias">
        <div class="content__item-title"> Experiências profissionais </div>
        <div class="xp__item" *ngFor='let item of itens'>
            <app-accordion [title]="item.name">
                <div class="xp__text">
                    {{ item.text }}
                </div>
            </app-accordion>
        </div>
    </div>
</div>
