<section class="page processos">
  <div class="wrapper">
    <div class="header">
      <div class="content-title">
          <h1 class="title">Processos Seletivos</h1>
          <p class="description">
              Veja todas os candidatos que você selecionou para uma entrevista.
          </p>
      </div>
      <h1 class="title"></h1>

      <div class="buttons">
        <input class="search__input search__input--process" type="text" id="search" placeholder="Pesquisar">
        <div (click)='btnSearch()' class="buttons--item" aria-label="Botão de busca">
          <mat-icon class="buttons--item-icon">search</mat-icon>
        </div>
        <a [routerLink]="['/vagas/create']" class="buttons--item" aria-label="Botão de filtro">
            <mat-icon class="buttons--item-icon">filter_alt</mat-icon>
        </a>
      </div>
    </div>

    <div class="content">
      <table class="table">
        <thead>
          <tr class="table__row table__row--title">
            <th class="table__column">Nome do candidato</th>
            <th class="table__column">Vaga</th>
            <th class="table__column">Status</th>
            <th class="table__column"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table__row">
            <td class="table__item">Mike Kayle</td>
            <td class="table__item">T.I Back-End</td>
            <td class="table__item table__item--status table__item--accept">Aceito</td>
            <td class="table__item">
              <div class="process__button">
                <div class="process__button-item process__button-item--decline">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="process__button-item process__button-item--accept">
                    <mat-icon>done</mat-icon>
                </div>
              </div>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__item">Cyntia Sayuri</td>
            <td class="table__item">T.I Front-End</td>
            <td class="table__item table__item--status table__item--wait">Em andamento</td>
            <td class="table__item">
              <div class="process__button">
                <div class="process__button-item process__button-item--decline">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="process__button-item process__button-item--accept">
                    <mat-icon>done</mat-icon>
                </div>
              </div>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__item">Vanessa Marques</td>
            <td class="table__item">Marketing</td>
            <td class="table__item table__item--status table__item--wait">Em andamento</td>
            <td class="table__item">
              <div class="process__button">
                <div class="process__button-item process__button-item--decline">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="process__button-item process__button-item--accept">
                    <mat-icon>done</mat-icon>
                </div>
              </div>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__item">Fernando Silva</td>
            <td class="table__item">T.I Front-End</td>
            <td class="table__item table__item--status table__item--decline">Recusado</td>
            <td class="table__item">
              <div class="process__button">
                <div class="process__button-item process__button-item--decline">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="process__button-item process__button-item--accept">
                    <mat-icon>done</mat-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
