<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Quarto</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Data de Entrada</th>
            <th scope="col">Data de Saida</th>
            <th scope="col">Valor Final</th>
            <th scope="col">Cancelar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">99</th>
            <td>Mike PentaKayle</td>
            <td>12/01/10</td>
            <td>13/01/10</td>
            <td>R$ 1000</td>
            <td>
                <button class="btn">Cancelar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Luis AxT Neto</td>
            <td>12/01/10</td>
            <td>13/01/10</td>
            <td>R$ 1000</td>
            <td>
                <button class="btn">Cancelar</button>
            </td>
        </tr>
        <tr>
        <th scope="row">10</th>
            <td>Cynthia K/DA Edição Prestigio</td>
            <td>12/01/10</td>
            <td>13/01/10</td>
            <td>R$ 1000</td>
            <td>
                <button class="btn">Cancelar</button>
            </td>
        </tr>
    </tbody>
</table>