<section class="processos">
  <div class="wrapper">
    <div class="header">
      <h1 class="title">Cadastro de vagas</h1>
    </div>

    <div class="content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome do Candidato</th>
            <th scope="col">Vaga</th>
            <th scope="col">Status da Vaga</th>
            <th scope="col">Editar Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Mike Kayle</td>
            <td>T.I FRONT END</td>
            <td>Em Progresso</td>
            <td>
              <button class="btn">Editar</button>
            </td>
          </tr>
          <tr>
            <td scope="row">Mike Kayle</td>
            <td>T.I FRONT END</td>
            <td>Em Progresso</td>
            <td>
              <button class="btn">Editar</button>
            </td>
          </tr>
          <tr>
            <td scope="row">Mike Kayle</td>
            <td>T.I FRONT END</td>
            <td>Em Progresso</td>
            <td>
              <button class="btn">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
