body {
    background: $white;
    font-family: $font-regular;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.container {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;

    &__menu {
      padding: 15px;
    }
}

a {
  text-decoration: none;
}

.erro {
  color: #e41930;

  &-center {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

.page {
  background: #e5e5e5;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}

.wrapper {
  padding: 30px;
}

.page .header {
  align-items: center;
  border-bottom: 1px solid #bababa;
  display: flex;
  justify-content: space-between;
}

.title {
  font: 35px $font-regular;
  margin: 20px;
  text-transform: uppercase;

  @include MQ ($S) {
      font-size: 30px;
      margin: 20px 20px 15px;
  }

  @include MQ ($XS) {
      font-size: 25px;
  }
}

.buttons {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right: 20px;

  &--item {
      border-radius: 50%;
      height: 51px;
      margin: 0 10px;
      position: relative;
      width: 51px;

      @include MQ($L) {
          height: 45px;
          width: 45px;
      }

      @include MQ($S) {
          height: 35px;
          margin: 0 5px;
          width: 35px;
      }

      @include MQ($XS) {
          height: 30px;
          width: 30px;
      }

      &-icon {
          color: #fff;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: color .7s ease-in-out;

          &:hover {
              color: #252525;
          }
     
          @include MQ($S) {
              font-size: 20px;
              height: 20px;
              width: 20px;
          }
      }

      &:first-child {
          background-color: $orange;
      }
      
      &:nth-child(2) {
          background-color: $pink;
      }
      
      &:last-child {
          background-color: $dark_red;
      }
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pink_light;
}

::-webkit-scrollbar {
  width: 5px;
  background: $dark_red;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: $dark_red;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

.d-none{
  display: none;
}