body {
    background: $white;
    font-family: $font-regular;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.container {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
    &__menu {
        padding: 15px;
    }
}

a {
    text-decoration: none;
}

.erro {
    color: #e41930;
    &-center {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}

.page {
    background: #e5e5e5;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.wrapper {
    padding: 50px;
}

.page .header {
    align-items: center;
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: space-between;
}

.title {
    font: 35px $font-regular;
    margin: 20px;
    text-transform: uppercase;
    @include MQ ($S) {
        font-size: 30px;
        margin: 20px 20px 15px;
    }
    @include MQ ($XS) {
        font-size: 25px;
    }
}

.description {
    color: #151515;
    margin-left: 25px;
    margin-top: -20px;
}

.buttons {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
    position: relative;

    &--item {
        border-radius: 50%;
        height: 51px;
        margin: 0 10px;
        position: relative;
        width: 51px;

        @include MQ($L) {
            height: 45px;
            width: 45px;
        }

        @include MQ($S) {
            height: 35px;
            margin: 0 5px;
            width: 35px;
        }

        @include MQ($XS) {
            height: 30px;
            width: 30px;
        }

        &-icon {
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all .5s ease-in-out;

            &:hover {
                color: #b9b9b9;
                opacity: 0.7;
            }

            @include MQ($S) {
                font-size: 20px;
                height: 20px;
                width: 20px;
            }
        }
        &:nth-child(2) {
            background-color: $orange;
        }
        &:nth-child(3) {
            background-color: $pink;
        }
        &:last-child {
            background-color: $dark_red;
        }
    }
}

.search__input {
    background: #efefef;
    border: 1px solid #b9b9b9;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
    opacity: 0;
    outline: none;
    right: 220px;
    top: 3px;
    transition: all .5s ease-in-out;
    width: 0;

    &--process {
        right: 150px;
    }

    &.is-active {
        opacity: 1;
        width: 370px;
    }
}

.loading-spinner {
    animation: spin 1s linear infinite;
    border: 5px solid $dark_red;
    border-radius: 50%;
    border-top: 5px solid #e5e5e5;
    left: 50%;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: $pink_light;
}

::-webkit-scrollbar {
    width: 5px;
    background: $dark_red;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: $dark_red;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

.d-none {
    display: none;
}
