// Typography
@import 'font-faces.scss';

$font-regular: 'Raleway Regular', 'Montserrat Regular', 'sans-serif';
$font-bold: 'Raleway Bold', 'Montserrat Bold', 'sans-serif';
$font-semibold: 'Raleway SemiBold', 'Montserrat SemiBold', 'sans-serif';
$font-medium: 'Raleway Medium', 'Montserrat Medium', 'sans-serif';
$font-light: 'Raleway Light', 'Montserrat Light', 'sans-serif';

// Colors
$white: #F2F2F2;
$black: #2a2a2a;
$gray: #828181;
$primary_blue: #04B2D9;
$secondary_blue: #0468BF;
$tertiary_blue: #0339A6;
$dark_blue: #023373;

$aprovado            : #1ed760;
$em_processo         : #f7e246;
$sem_status          : #bbc1c5;
$recusado            : #f44336;

// IJC Colors
$orange: #ff9015;
$pink: #e64783;
$pink_light: #EC377C;
$dark_red: #9d1d64;
$dark_grey: #898A8D;

// Sizes
@mixin MQ($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}


$XS: 480px;
$S: 758px;
$M: 960px;
$L: 1024px;
$XL: 1130px;
