@import '../../scss/variables.scss';

.container {
    background: #f2f2f2;
    border-radius: 20px;
    height: 550px;
    left: 50%;
    padding: 15px 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}

.content {
 
    &--header {
        align-items: center;
        display: flex;
        position: relative;
        
        &-icon {
            margin-right: 10px;
            width: 40px;
        }
        
        &-title {
            color: #000;
            font: 22px $font-bold;
            text-transform: uppercase;
        }

        &-close {
            border: none;
            color: #C4C4C4;
            cursor: pointer;
            font-size: 30px;
            outline: none;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &--description-box {
        width: 50%;
    }
}

