<div mat-dialog-content>
    <div class="container">
        <div class="header">
            <img src="../../../../assets/images/icones/profissao/ti.png" alt="Desenvolvedor" class="header-icon">
            
            <h1 class="header-title">
                Desenvolvedor
            </h1>
            <button class="header-close" (click)="closeModal()" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    
        <div class="content">
            <div class="content--description-box">
                <app-description-box></app-description-box>
            </div>
    
            <div class="content--requisitos">
                <div class="content--requisitos-title">
                    Requisitos
                </div>
    
                <div class="content--requisitos__obrigatorio">
                    <div class="content--requisitos-subtitle">
                        Obrigatórios
                    </div>
                    <div class="content--requisitos-list">
                        <div class="content--requisitos-list-item">
                            <div class="content--requisitos-list-item-img">
                                <img src="../../../../assets/images/icones/requisitos/alfabetizacao.png" alt="Alfabetizado" class="content--requisitos-list-item-icon">
                            </div>
                            <div class="content--requisitos-list-item-name">
                                Alfabetizado
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="content--requisitos__opcional">
                    <div class="content--requisitos-subtitle">
                        Opcionais
                    </div>
                    <div class="content--requisitos-list">
                        <div class="content--requisitos-list-item">
                            <div class="content--requisitos-list-item-img">
                                <img src="../../../../assets/images/icones/habilidades/comunicativo.png" alt="Comunicativo" class="content--requisitos-list-item-icon">
                            </div>
                            <div class="content--requisitos-list-item-name">
                                Comunicativo
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        
        <div class="accordion">
            <div class="content content__accordion" *ngFor='let item of itensList'>
                <app-accordion [title]="item.itemType.name">
                    <div class="accordion--content">
                        <div class="accordion--content-item" *ngFor="let content of item.itemContent">
                            <div class="accordion--content-img">
                                <mat-icon class="accordion--content-img-icon">{{content.icon}}</mat-icon>
                            </div>
                            <div class="accordion--content-desc">
                                <div class="accordion--content-desc-name">
                                    {{content.name}}:
                                </div>
                                <div class="accordion--content-desc-text">
                                    {{content.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </app-accordion>
            </div>
        </div>
    
    </div>
</div>