<div mat-dialog-content>
    <div class="container">
        <div class="header">
            <div *ngIf="!isVagaCarregada" class="skeleton-vaga skeleton-vaga-icon"></div>
            <img *ngIf="isVagaCarregada" src="../../../../assets/images/icones/profissao/{{iconeVaga}}" alt="{{tituloVaga}}" class="header-icon">

            <div *ngIf="!isVagaCarregada" class="skeleton-vaga skeleton-vaga-title"></div>
            <h1 *ngIf="isVagaCarregada" class="header-title"> {{tituloVaga}} </h1>

            <button class="header-close" (click)="closeModal()" mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

        <div class="content">
            <div *ngIf="! isVagaCarregada" class="skeleton-vaga skeleton-vaga-descricao"></div>
            <div class="content--description-box" *ngIf="isVagaCarregada">
                <app-description-box [description]="descricaoVaga" [isEditing]="false"></app-description-box>
            </div>

            <div class="content--requisitos">
                <div class="content--requisitos-title">
                    Requisitos
                </div>

                <div class="content--requisitos__obrigatorio">
                    <div class="content--requisitos-subtitle">
                        Obrigatórios
                    </div>

                    <div *ngIf="!isVagaCarregada" class="skeleton-vaga skeleton-vaga-combo"></div>
                    <div *ngIf="isVagaCarregada"  class="content--requisitos-list">
                        <ng-container *ngFor="let requisito of requisitos.obrigatorios">
                            <div class="content--requisitos-list-item">
                                <div class="content--requisitos-list-item-img">
                                    <img src="../../../../assets/images/icones/{{requisito.path}}/{{requisito.icon}}" alt="{{requisito.name}}" class="content--requisitos-list-item-icon">
                                </div>
                                <div class="content--requisitos-list-item-name">
                                    {{requisito.name}}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="content--requisitos__opcional">
                    <div class="content--requisitos-subtitle">
                        Opcionais
                    </div>

                    <div *ngIf="!isVagaCarregada" class="skeleton-vaga skeleton-vaga-combo"></div>
                    <div *ngIf="isVagaCarregada" class="content--requisitos-list">
                        <app-empty *ngIf="! hasRequisitosOpcionais(requisitos)"></app-empty>

                        <ng-container *ngIf="hasRequisitosOpcionais(requisitos)">
                            <ng-container *ngFor="let requisito of requisitos.opcionais">
                                <div class="content--requisitos-list-item">
                                    <div class="content--requisitos-list-item-img">
                                        <img src="../../../../assets/images/icones/{{requisito.path}}/{{requisito.icon}}" alt="{{requisito.name}}" class="content--requisitos-list-item-icon">
                                    </div>
                                    <div class="content--requisitos-list-item-name">
                                        {{requisito.name}}
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="! isVagaCarregada" class="skeleton-vaga skeleton-vaga-accordions"></div>
        <div *ngIf="isVagaCarregada" class="accordion">
            <div class="content content__accordion" *ngFor='let item of itensList'>
                <app-accordion *ngIf="item.itemContent.length > 0" [title]="item.itemType.name" style="width: 100%">
                    <div class="accordion--content">
                        <div class="accordion--content-item" *ngFor="let content of item.itemContent">
                            <div class="accordion--content-desc">
                                <div class="accordion--content-desc-name">
                                    {{content.name}}
                                </div>
                                <div class="accordion--content-desc-text">
                                    {{content.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </app-accordion>
            </div>
        </div>

        <div class="address-map-container">
            <span class="address-map-text"> {{enderecoVaga}} </span>
            <img class="address-map" src="https://publicidademarketing.com/wp-content/uploads/2017/11/google-maps.jpg">
        </div>
    </div>
</div>
