<div class="counter">
    <div class="counter-etapas">
        <div class="counter-etapas-etapa">
        <p class="counter-etapas-etapa-item">
            1
        </p>
        </div>
        <div class="counter-etapas-etapa is-disable">
        <p class="counter-etapas-etapa-item">
            2
        </p>
        </div>
        <div class="counter-etapas-etapa is-disable">
        <p class="counter-etapas-etapa-item">
            3
        </p>
        </div>
        <div class="counter-etapas-etapa is-disable">
        <p class="counter-etapas-etapa-item">
            4
        </p>
        </div>
    </div>
</div>