<div class="candidato__listagem">
    <div class="candidato__listagem-filtros">
        <div class="candidato__listagem-filtros-item">
            <input type="checkbox" value="2" id="candidatos-filtro-analise" checked>
            <label class="candidato__listagem-filtros-item-name" for="candidatos-filtro-analise"> Em Análise </label>
        </div>
        <div class="candidato__listagem-filtros-item">
            <input type="checkbox" value="3" id="candidatos-filtro-processo" checked>
            <label class="candidato__listagem-filtros-item-name" for="candidatos-filtro-processo"> Em Processo </label>
        </div>
        <div class="candidato__listagem-filtros-item">
            <input type="checkbox" value="1" id="candidatos-filtro-aprovado" checked>
            <label class="candidato__listagem-filtros-item-name" for="candidatos-filtro-aprovado"> Aprovados </label>
        </div>
        <div class="candidato__listagem-filtros-item">
            <input type="checkbox" value="3" id="candidatos-filtro-recusado">
            <label class="candidato__listagem-filtros-item-name" for="candidatos-filtro-recusado"> Recusados </label>
        </div>
    </div>

    <ng-template ngFor let-candidatura [ngForOf]="candidaturas" >
        <div class="candidato__listagem-profissao">
            <div class="candidato__header">
                <img src="../../../assets/images/icones/profissao/{{candidatura.imagemCategoria}}" alt="{{candidatura.nomeProfissao}}" class="candidato__header--icon">

                <h1 class="candidato__header--title"> {{candidatura.nomeProfissao}} </h1>
            </div>

            <p class="candidato__header--description"> {{candidatura.descricaoVaga}} </p>

            <ng-container *ngFor="let candidato of candidatura.candidatos" >
                <div class="list">
                    <div class="list__item status-{{candidato.codStatusCandidatura}}">
                        <div class="list__item-img">
                            <img src="{{candidato.fotoUsuario}}" alt="{{candidato.nomeCandidato}}" class="list__item-img-icon">
                        </div>

                        <div class="list__item-name"> {{candidato.nomeCandidato}} </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-template>
</div>
