@import '../../shared/scss/variables.scss';
.candidato {
    &__header {
        align-items: center;
        display: flex;
        margin-top: 20px;
        &--icon {
            margin-right: 10px;
            width: 40px;
        }

        &--title {
            color: #000;
            font: 22px $font-bold;
            text-transform: uppercase;
        }

        &--description {
            margin-top: -20px;
            margin-left: 50px;
            width: 60%;
        }
    }
    &__listagem {
        max-height: 550px;
        overflow: auto;
        &-profissao {
            &:not(:first-child) {
                border-top: 1px solid #c7c7c7;
                margin-top: 30px
            }
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    &__item {
        background: #f2f2f2;
        border-left-style: solid;
        border-left-width: 10px;
        border-radius: 10px;
        cursor: pointer;
        height: 230px;
        margin: 10px;
        overflow: hidden;
        transition: all .5s ease-in-out;
        width: 170px;

        &.status-1 {
            border-left-color: #1ed760;
        }

        &.status-2, &.status-4 {
            border-left-color: #f7e246;
        }

        &.status-3 {
            border-left-color: #f44336;
        }

        &:hover {
            background: rgba(255, 144, 21, 0.41);
        }

        &-img-icon {
            height: 100%;
            width: 100%;
        }

        &-name {
            font: 16px $font-regular;
            padding: 10px 0;
            text-align: center;
        }
    }
}
