<div class="box--submenu">
    <div class="box--submenu-item is-active">
      <img src="../../../../assets/images/componentes/descricao-video.svg" alt="Descrição sobre a vaga em forma de vídeo" class="box--submenu-item-icon">
    </div>

    <div class="box--submenu-item">
      <img src="../../../../assets/images/componentes/descricao-texto.svg" alt="Descrição sobre a vaga em forma de texto" class="box--submenu-item-icon">
    </div>
  </div>

  <div class="box--content is-active">
      <label for='arquivo-video'>
        <div class="box--content-video">
          <img src="../../../../assets/images/icones/video.png" alt="Descrição sobre a vaga em forma de vídeo" class="box--content-video-icon">

          <p class="box--content-video-desc">
            Clique para enviar um vídeo
          </p>
        </div>
      </label>
      <input id='arquivo-video' type="file" name="videoVaga" class="video-vaga" accept=".mp4, .avi, .mkv, .ogg, .ogm, .mpg, .mpeg, .vob, .bvcd, .bsvcd">
  </div>

  <div class="box--content">
    <div class="box--content-text">
        <textarea name="descricaoVaga" class="box--textarea" placeholder="Escreva uma breve descrição sobre a vaga..."></textarea>
    </div>
    <div class="box-hidden">
    </div>
  </div>