@import '../../scss/variables.scss';

.box {
    // &--submenu {
    //     align-items: center;
    //     display: flex;
    //     margin-bottom: 15px;
    //     position: relative;
    
    //     &:before {
    //     background: #C5C5C5;
    //     content: "";
    //     display: block;
    //     height: 45px;
    //     right: 50%;
    //     position: absolute;
    //     top: 25px;
    //     transform: translate(50%, -50%);
    //     width: 2px;
    //     }
    
    //     &:after {
    //     background: #C5C5C5;
    //     content: "";
    //     display: block;
    //     height: 2px;
    //     right: 50%;
    //     position: absolute;
    //     bottom: 0;
    //     transform: translate(50%, -50%);
    //     width: 100%;
    //     }
    
    //     &-item {
    //     background: transparent;
    //     cursor: pointer;
    //     padding: 9px 0;
    //     text-align: center;
    //     transition: background .7s ease-out;
    //     width: 50%;
    
    //         &.is-active {
    //             background: rgba(212, 212, 212, 0.47);
    //         }

    //         &-icon {
    //             width: 27px;
    //         }
    //     }
    // }
  
  &--content {
        margin-bottom: 30px;
        position: relative;
        transition: opacity .7s ease-out;
        
        &-video {
            border: 2px dotted #b5b5b5;
            cursor: pointer;
            height: 100px;
            margin: 20px auto;
            padding: 55px 10px;
            text-align: center;
            transition: all .3s ease-out;
          
            &-icon {
              width: 50px;
            }
          
            &-desc {
              color: #000;
              font: 15px/20px $font-semibold;
              letter-spacing: 0.5px;
              margin: 25px 0;
            }
        }

        &-text {
            margin: 20px 0 15px;
        }
    }

    &--textarea {
        border: 0;
        color: #000;
        font: 14px/20px $font-semibold;
        height: 185px;
        letter-spacing: 0.5px;
        max-width: -webkit-fill-available;
        outline: none;
        padding: 15px;
        resize: none;
        transition: all .3s ease-out;
        width: 100%;
    }
}

::ng-deep .mat-tab-header-pagination {
    display: none !important;
}

::ng-deep .mat-tab-label {
    width: 50% !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $pink !important;
}

.video-vaga {
    display: none;
}