.container {
    display: flex;
    padding: 0;
    margin: 0;
}

.side-bar {
    transition: width .5s ease-in-out;
    width: 55px;
    
    &.is-active {
        width: 250px;
    }
}

.content {
    width: -webkit-fill-available;
}
