<div id="menu" class="menu is-active">
    <div class="container__menu">
        <div id="menu-button" class="menu--button">
            <div class="menu--button-burguer">
                <div class="menu--button-burguer-lines">
                </div>
            </div>
            <div class="menu--button-logo">
                <img src="../../../assets/images/ijc_completa.png" alt="Logo Instituto Jô Clemente" class="menu--button-logo-icon">
            </div>
        </div>
    </div>
    <div class="menu--content">
        <div class="menu--content-item">
            <a [routerLink]="['/vagas']" class="menu--content-item-link">
                <div class="menu--content-item-img">
                    <mat-icon class="menu--content-item-img-icon">business_center</mat-icon>
                </div>
                <div class="menu--content-item-name">
                    Vagas
                </div>
            </a>
            <a [routerLink]="['/candidatos']" class="menu--content-item-link">
                <div class="menu--content-item-img">
                    <mat-icon class="menu--content-item-img-icon">people</mat-icon>
                </div>
                <div class="menu--content-item-name">
                    Candidatos
                </div>
            </a>
            <a [routerLink]="['/processos']" class="menu--content-item-link">
                <div class="menu--content-item-img">
                    <mat-icon class="menu--content-item-img-icon">timeline</mat-icon>
                </div>
                <div class="menu--content-item-name">
                    Processos
                </div>
            </a>
        </div>
        <div class="menu--content-item">
            <a class="menu--content-item-link">
                <div class="menu--content-item-img">
                    <mat-icon class="menu--content-item-img-icon">login</mat-icon>
                </div>
                <div class="menu--content-item-name" (click)="logOut()">
                    Sair
                </div>
            </a>
        </div>
    </div>
</div>
