@import '../../shared/scss/variables.scss';
.menu--button-logo,
.menu--content-item-name {
    opacity: 0;
    transition: all .5s ease-in-out;
    width: 85px;
}

.menu--button-logo-icon {
    display: block;
    margin-left: auto;
    max-height: 40px;
}

.container__menu {
    background: #E5E5E5;
    padding: 10px 25px 10px 30px;
}

.menu {
    height: 100%;

    &.is-active {
        .menu--button-logo,
        .menu--content-item-name {
            opacity: 1;
        }
        .menu--button-logo-icon {
            @include MQ ($XL) {
                width: 130px;
            }
            @include MQ ($M) {
                width: 110px;
            }
            @include MQ ($XS) {
                width: 90px;
            }
        }
        .menu--content-item-name {
            width: 190px;
            @include MQ ($XL) {
                width: 150px;
            }
            @include MQ ($M) {
                width: 125px;
            }
            @include MQ ($XS) {
                width: 95px;
            }
        }
        .menu--button-burguer-lines {
            border: none;
            &::before {
                top: -3px;
                transform: rotate(45deg);
            }
            &::after {
                bottom: 1px;
                transform: rotate(-45deg);
            }
        }
    }

    &--button {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 41px;
        justify-content: center;
        &-burguer {
            width: 25%;
            &-lines {
                border-bottom: 3px solid $pink;
                position: relative;
                transition: border .5s ease-in-out;
                width: 25px;
                @include MQ ($XS) {
                    width: 20px;
                }
                &::before,
                &::after {
                    background: $dark_red;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    transition: all .5s ease-in-out;
                    width: 100%;
                }
                &::before {
                    top: -8px;
                    @include MQ ($M) {
                        top: -6px;
                    }
                }
                &::after {
                    bottom: -10px;
                    @include MQ ($M) {
                        bottom: -9px;
                    }
                }
            }
        }
        &-logo {
            width: 75%;
        }
    }

    &--content {
        background: $dark_red;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px 0 20px 0;
        position: relative;

        &-item {
            cursor: pointer;

            &-link {
                align-items: center;
                display: flex;
                height: 80px;
                justify-content: space-between;
                transition: all .5s ease-in-out;
                width: 100%;

                &:hover {
                    background: #861b56;
                }
            }

            &-img {
                margin-left: 15px;
                margin-right: 15px;
            }

            &-img-icon {
                color: #f7f7f7;
                font-size: 30px;

                @include MQ ($XL) {
                    font-size: 25px;
                }
                @include MQ ($M) {
                    font-size: 20px;
                }
                @include MQ ($XS) {
                    font-size: 15px;
                    height: 15px;
                }
            }

            &-name {
                color: #f7f7f7;
                font: 17px $font-bold;
                letter-spacing: 0.02em;
                text-transform: uppercase;

                @include MQ ($XL) {
                    font-size: 17px;
                }
                @include MQ ($M) {
                    font-size: 13px;
                }
                @include MQ ($XS) {
                    font-size: 11px;
                }
            }
        }

        &-logged-user {
            align-items: center;
            display: flex;
            left: 10px;
            position: absolute;
            top: 15px;

            &-img {
                border-radius: 50%;
                height: 60px;
                overflow: hidden;
                position: relative;
                width: 60px;

                img {
                    width: 100%;
                }
            }

            &-info {
                margin-left: 15px;

                &-name {
                    color: #fff;
                    font: 14px $font-bold;
                    margin: 0;
                }

                &-username {
                    color: #e4e4e4;
                    font-size: 13px;
                    margin: 0;
                }
            }


        }
    }
}
