<div id="menu" class="menu is-active">
    <div class="container__menu">
        <div id="menu-button" class="menu--button">
            <div class="menu--button-burguer">
                <div class="menu--button-burguer-lines">
                </div>
            </div>
            <div class="menu--button-logo">
                <img src="../../../../assets/images/componentes/logo-goodfit.png" alt="Logo Good Fit" class="menu--button-logo-icon">
            </div>
        </div>
    </div>
    <div class="menu--content">
        <div class="menu--content-item" *ngFor='let item of itensMenu'>
            <a href="{{item.link}}" class="menu--content-item-link">
                <div class="menu--content-item-img">
                    <img src="{{item.img}}" alt="Vagas" class="menu--content-item-img-icon">
                </div>
                <div class="menu--content-item-name">
                    {{item.label}}
                </div>
            </a>
        </div>
    </div>
</div>