@import '../../shared/scss/variables.scss';

.menu--button-logo, .menu--content-item {
    opacity: 0;
    transition: all .5s ease-in-out;
    width: 55px;
}

.container__menu {
    background: #E5E5E5;
}

.menu {
    height: 100%;

    &.is-active {
        .menu--button-logo, .menu--content-item {
            opacity: 1;
        }
        
        .menu--button-logo-icon {
            width: 130px;
        }

        .menu--content-item {
            width: 190px;
        }

        .menu--button-burguer-lines {
            border: none;

                &::before {
                    top: -3px;
                    transform: rotate(45deg);
                }
                
                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
        }
    }

    &--button {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;

        &-burguer {
            width: 25%;

            &-lines {
                border-bottom: 3px solid $secondary_blue;
                position: relative;
                transition: border .5s ease-in-out;
                width: 25px;

                &::before, &::after {
                    background: $secondary_blue;
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    transition: all .5s ease-in-out;
                    width: 100%;
                }
                
                &::before {
                    top: -8px;
                }
                
                &::after {
                    bottom: -11px;
                }
            }
        }

        &-logo {
            width: 75%;

            &-icon  {
                width: 130px;
            }
        }
    }

    &--content {
        background: $secondary_blue;
        height: 100%;
        padding: 20px;

        &-item {
            &:first-child {
                margin-top: 150px;
            }

            &-link {
                align-items: center;
                border-bottom: 1px solid #bababa;
                display: flex;
                justify-content: space-between;
                margin: 60px 0;
            }

            &-img-icon {
                width: 30px;
            }

            &-name {
                color: #fff;
                display: flex;
                font: 20px $font-regular;
                text-transform: uppercase;
            }
        }
    }
}