<section class="vagas">

    <div *ngFor='let item of itemsVagas'>
        <app-modal [vagaModelInput]="vagaModel" [@animationTrigger]="item.state" class="modal"></app-modal>
    </div>
   
    <div class="wrapper">

        <div class="header">
            <h1 class="title">Vagas</h1>

            <div class="buttons">
                <div class="buttons-item" *ngFor='let item of buttonsVagas'>
                    <img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" class="buttons-item-icon {{item.class}}">
                </div>
            </div>
        </div>

        <div class="content">
            <div class="item" *ngFor='let item of itemsVagas'>
                <div class="item--box" (click)="openModal(item)">
                    <div class="item--box-desc">
                        <div class="item--box-desc-img">
                            <img src="{{item.img}}" alt="{{item.name}} {{item.subname}}" class="item--box-desc-img-icon">
                        </div>
                        <div class="item--box-desc-name">
                            {{item.name}}
                            
                            <span>
                                <br/>
                                {{item.subname}}
                            </span>
                        </div>
                    </div>

                    <div class="item--box-info">
                        <div class="item--box-info-img">
                            <img src="../../../../assets/images/componentes/dolar.png" alt="Salário" class="item--box-info-img-icon">
                        </div>
                        <div class="item--box-info-text">
                            {{item.salario}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="pagination">
                <div class="pagination-button">
                    <img src="../../../../assets/images/componentes/pagination-icon.png" alt="Voltar" class="pagination-button-icon pagination-button-icon__prev">
                </div>
                
                <div class="pagination-number" *ngFor='let item of pagination' >
                    <div class="pagination-number-item {{item.class}}">
                        {{item.number}}
                    </div>
                </div>

                <div class="pagination-button">
                    <img src="../../../../assets/images/componentes/pagination-icon.png" alt="Avançar" class="pagination-button-icon">
                </div>
            </div>
        </div>

    </div>
</section>