@import '../../shared/scss/variables.scss';

.vagas {
    background: #e5e5e5;
    height: 100%;
    position: relative;
}

.wrapper {
    padding: 30px;
}

.header {
    align-items: center;
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: space-between;
}

.title {
    font: 35px $font-regular;
    margin: 20px;

    @include MQ ($S) {
        font-size: 30px;
        margin: 20px 20px 15px;
    }

    @include MQ ($XS) {
        font-size: 25px;
    }
}

.buttons {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: 20px;

    &-item {
        border-radius: 50%;
        height: 51px;
        margin: 0 10px;
        position: relative;
        width: 51px;

        @include MQ($L) {
            height: 45px;
            width: 45px;
        }

        @include MQ($S) {
            height: 35px;
            margin: 0 5px;
            width: 35px;
        }

        @include MQ($XS) {
            height: 30px;
            width: 30px;
        }

        &-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
       
            @include MQ($L) {
                width: 20px;
            }
       
            @include MQ($S) {
                width: 17px;
            }
            
            @include MQ($XS) {
                width: 15px;
            }

            &__filter {
                margin-top: 2px;
            }
        }

        &:first-child {
            background-color: $orange;
        }
        
        &:nth-child(2) {
            background-color: $pink;
        }
        
        &:last-child {
            background-color: $dark_red;
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 30px;

    @include MQ ($M) {
        margin: 20px auto 30px;
    }
}

.item {
    width: 25%;
    
    @include MQ ($M) {
        width: 33%;
    }
    
    @include MQ ($XS) {
        width: 50%;
    }

    &--box {
        background-color: $white;
        border: 3px solid #ccc;
        border-radius: 20px;
        color: #ccc;
        cursor: pointer;
        margin: 3px;
        padding: 20px 20px 15px;
        transition: all .5s ease-out;

        @include MQ($XL) {
            padding: 13px 10px;
        }
        
        @include MQ($S) {
            height: 110px;
            text-align: center;
        }

        &:hover {
            background: rgba(230, 71, 131, 0.25);
            border-color: $dark_red;
        }

        &-desc {
            align-items: center;
            display: flex;

            @include MQ($S) {
                display: block;
            }

            &-img {
                margin-right: 10px;
                width: 30%;
        
                @include MQ($L) {
                    height: 45px;
                }
        
                @include MQ($S) {
                    margin: auto;
                    width: 45px;
                }
                
                &-icon {
                    width: 100%;
                }
            }

            &-name {
                color: $black;
                font: 16px $font-bold;
                text-transform: uppercase;
                word-wrap: break-word;
                width: 70%;

                @include MQ($XL) {
                    font-size: 15px;
                }
                
                @include MQ($L) {
                    font-size: 13px;
                    margin: 7px 0 3px;
                    width: 100%;
                }
                
                @include MQ($XS) {
                    font-size: 12px;
                }
                
                span {
                    font: 12px $font-regular;

                    @include MQ($XL) {
                        font-size: 11px;
                    }
                    
                    @include MQ($L) {
                        font-size: 10px;
                    }
                }
            }
        }

        &-info {
            align-items: center;
            display: flex;
            justify-content: flex-end;

            @include MQ($S) {
                justify-content: center;
            }

            &-img {
                margin-right: 10px;

                @include MQ($L) {
                    margin-right: 5px;
                }

                &-icon {
                    margin-top: 5px;
                    width: 25px;
                
                    @include MQ($L) {
                        width: 17px;
                    }
                }
            }

            &-text {
                color: $black;
                font: 16px $font-bold;
                
                @include MQ($XL) {
                    font-size: 14px;
                }
                
                @include MQ($L) {
                    font-size: 13px;
                }
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;

    &-button {
        cursor: pointer;

        &-icon {
            margin: 4px 5px 0 5px;
            width: 20px;

            @include MQ($L) {
                width: 17px;
            }

            &__prev {
                transform: rotate(180deg);
            }
        }
    }

    &-number {
        display: flex;

        &-item {
            border: 2px solid $dark_red;
            border-radius: 100%;
            color: $dark_red;
            font: 20px $font-bold;    
            height: 27px;
            margin: 0 20px;
            text-align: center;
            width: 27px;

            @include MQ($L) {
                font-size: 16px;
                height: 23px;
                margin: 0 15px;
                width: 23px;
            }
        
            &.is-active {
                background-color: $dark_red;
                color: #fff;
            }
        }
    }
}
