<section class="page vagas">
    <div class="wrapper">
        <div class="header">
            <h1 class="title">Vagas</h1>

            <div class="buttons">
                <a [routerLink]="['/vagas/create']" class="buttons--item" aria-label="Botão de busca">
                    <mat-icon class="buttons--item-icon">search</mat-icon>
                </a>
                <a [routerLink]="['/vagas/create']" class="buttons--item" aria-label="Botão de filtro">
                    <mat-icon class="buttons--item-icon">filter_alt</mat-icon>
                </a>
                <a [routerLink]="['/vagas/create']" class="buttons--item" aria-label="Botão de adicionar">
                    <mat-icon class="buttons--item-icon">add</mat-icon>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="item" *ngFor='let vaga of vagasList'>
                <div class="item--box" (click)="openDialog()">
                    <div class="item--box-desc">
                        <div class="item--box-desc-img">
                            <img src="../../../../assets/images/icones/profissao/{{vaga.profissao.categoria.imagemCategoria}}" alt="{{vaga.profissao.nomeProfissao}} {{vaga.profissao.categoria.nomeCategoria}}" class="item--box-desc-img-icon">
                        </div>
                        <div class="item--box-desc-name">
                            {{vaga.profissao.nomeProfissao}}
                            <span>
                                <br/>
                                {{vaga.profissao.categoria.nomeCategoria}}
                            </span>
                        </div>
                    </div>

                    <div class="item--box-info">
                        <div class="item--box-info-img">
                            <mat-icon class="item--box-info-img-icon">attach_money</mat-icon>
                        </div>
                        <div class="item--box-info-text">
                            {{vaga.salarioVaga}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="footer">
            <div class="pagination">
                <div class="pagination-button">
                    <img src="../../../../assets/images/componentes/pagination-icon.png" alt="Voltar" class="pagination-button-icon pagination-button-icon__prev">
                </div>
                
                <div class="pagination-number" *ngFor='let item of pagination' >
                    <div class="pagination-number-item {{item.class}}">
                        {{item.number}}
                    </div>
                </div>

                <div class="pagination-button">
                    <img src="../../../../assets/images/componentes/pagination-icon.png" alt="Avançar" class="pagination-button-icon">
                </div>
            </div>
        </div> -->

    </div>
</section>