<section class="vagas">
    <div class="wrapper">
        <div class="header">
            <h1 class="title">Vagas</h1>

            <div class="buttons">
                <a [routerLink]="['/vagas/create']" class="buttons--item" aria-label="Botão de busca">
                    <mat-icon class="buttons--item-icon">search</mat-icon>
                </a>
                <a [routerLink]="['/vagas/create']" class="buttons--item" aria-label="Botão de filtro">
                    <mat-icon class="buttons--item-icon">filter_list</mat-icon>
                </a>
                <a [routerLink]="['/vagas/create']" class="buttons--item" aria-label="Botão de adicionar">
                    <mat-icon class="buttons--item-icon">add</mat-icon>
                </a>
            </div>
        </div>
        <app-modal></app-modal>

        <div class="content">
            <div class="item" *ngFor='let item of itemsVagas'>
                <div class="item--box" (click)="openDialog()">
                    <div class="item--box-desc">
                        <div class="item--box-desc-img">
                            <img src="{{item.img}}" alt="{{item.name}} {{item.subname}}" class="item--box-desc-img-icon">
                        </div>
                        <div class="item--box-desc-name">
                            {{item.name}}
                            
                            <span>
                                <br/>
                                {{item.subname}}
                            </span>
                        </div>
                    </div>

                    <div class="item--box-info">
                        <div class="item--box-info-img">
                            <mat-icon class="item--box-info-img-icon">attach_money</mat-icon>
                        </div>
                        <div class="item--box-info-text">
                            {{item.salario}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="pagination">
                <div class="pagination-button">
                    <img src="../../../../assets/images/componentes/pagination-icon.png" alt="Voltar" class="pagination-button-icon pagination-button-icon__prev">
                </div>
                
                <div class="pagination-number" *ngFor='let item of pagination' >
                    <div class="pagination-number-item {{item.class}}">
                        {{item.number}}
                    </div>
                </div>

                <div class="pagination-button">
                    <img src="../../../../assets/images/componentes/pagination-icon.png" alt="Avançar" class="pagination-button-icon">
                </div>
            </div>
        </div>

    </div>
</section>