@import '../../shared/scss/variables.scss';

.candidato{
}

#list-icon, #focus-icon {
    display: none;

    &.is-active {
        display: block;
    }
}

.list, .focus {
    display: none;

    &.is-active {
        display: block;
    }
}