<section class="page candidatos">
    <div class="wrapper">
        
        <div class="header">
            <h1 class="title">Candidatos</h1>
            
            <div class="buttons">
                <div class="buttons--item" aria-label="Botão de busca">
                    <mat-icon class="buttons--item-icon">search</mat-icon>
                </div>
                <div class="buttons--item" aria-label="Botão de filtro">
                    <mat-icon class="buttons--item-icon">filter_alt</mat-icon>
                </div>
                <div (click)="changeView()" class="buttons--item" aria-label="Botão para trocar visualização">
                    <mat-icon class="buttons--item-icon">view_module</mat-icon>
                    <!-- <mat-icon class="buttons--item-icon">view_carousel</mat-icon> -->
                </div>
            </div>
        </div>
        
        <div class="content">
            
            <app-candidatos-list id="list" *ngVar='true as variable' class="list is-active"></app-candidatos-list>
           
            <app-candidatos-focus id="focus" *ngVar='false as variable' class="focus"></app-candidatos-focus>
            
        </div>
    </div>
</section>