<section class="page candidatos">
    <div class="wrapper">
        
        <div class="header">
            <h1 class="title">Candidatos</h1>
            
            <div class="buttons">
                <a [routerLink]="['/candidatos']" class="buttons--item" aria-label="Botão de busca">
                    <mat-icon class="buttons--item-icon">search</mat-icon>
                </a>                
                <a [routerLink]="['/candidatos']" class="buttons--item" aria-label="Botão de filtro">
                    <mat-icon class="buttons--item-icon">filter_alt</mat-icon>
                </a>
                <a [routerLink]="['/candidatos']" class="buttons--item" aria-label="Botão para trocar visualização">
                    <mat-icon class="buttons--item-icon">view_module</mat-icon>
                    <!-- <mat-icon class="buttons--item-icon">view_carousel</mat-icon> -->
                </a>
            </div>
        </div>
        
        <div class="content">
            <!-- <div class="candidato__listagem">
                <div class="candidato__listagem-profissao">
                    <div class="candidato__header">
                        <img src="../../../assets/images/icones/profissao/livros.png" alt="Professor" class="candidato__header--icon">
                        
                        <h1 class="candidato__header--title">
                            Professor
                        </h1>
                    </div>
                    
                    <div class="list">
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="candidato__listagem-profissao">
                    <div class="candidato__header">
                        <img src="../../../assets/images/icones/profissao/telemarketing.png" alt="Telemarketing" class="candidato__header--icon">
                        
                        <h1 class="candidato__header--title">
                            Telemarketing
                        </h1>
                    </div>
                    
                    <div class="list">
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                    </div>
                </div>

                <div class="candidato__listagem-profissao">
                    <div class="candidato__header">
                        <img src="../../../assets/images/icones/profissao/assistencia-tecnica.png" alt="Assistente Técnico" class="candidato__header--icon">
                        
                        <h1 class="candidato__header--title">
                            Assistente Técnico
                        </h1>
                    </div>
                    
                    <div class="list">
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                        <div class="list__item">
                            <div class="list__item-img">
                                <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="list__item-img-icon">
                            </div>
                            <div class="list__item-name">
                                Fernandinho da Silva Costa Tavares sla
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            
            <div class="candidato__slider">
                <div class="candidato__header">
                    <img src="../../../assets/images/icones/profissao/livros.png" alt="Professor" class="candidato__header--icon">
                    
                    <h1 class="candidato__header--title">
                        Professor
                    </h1>
                </div>
                
                <div class="candidato__slider-content">
                    <div class="profile">
                        <div class="profile__perfil">
                            <div class="profile__perfil-percent">
                                <svg>
                                <circle cx="80" cy="80" r="80"></circle>
                                <circle cx="80" cy="80" r="80"></circle>
                                </svg>
                                <div class="profile__perfil-img">
                                    <img src="../../../assets/images/icones/boy.png" alt="Nome do candidato" class="profile__perfil-img-icon">
                                </div>
                            </div>
                        </div>
                        <div class="profile__info">
                            <div class="profile__info-item">
                                Cyntia Sayuri de Almeida, 19 anos
                            </div>
                            <div class="profile__info-item profile__info-item--email">
                                <a href="mailto:email@email.com.br" class="profile__info-item--email-link">
                                    <mat-icon>mail_outline</mat-icon> Enviar email
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <app-description-box></app-description-box>
                    </div>
                </div>
                
                <div class="candidato__slider-content">
                    <div class="topicos">
                        <div class="topicos__title">
                            Requisitos
                        </div>
                        <div class="topicos__list topicos__list--requisito">
                            <div class="topicos__list-item topicos__list-item--requisito">
                                <img src="../../../../assets/images/icones/requisitos/alfabetizacao.png" alt="Alfabetizado" class="topicos__list-item-icon">
                                <div class="topicos__list-item-name">Alfabetizado</div>
                            </div>  
                            <div class="topicos__list-item topicos__list-item--requisito">
                                <img src="../../../../assets/images/icones/requisitos/escolaridade.png" alt="Escolarizado" class="topicos__list-item-icon">
                                <div class="topicos__list-item-name">Escolarizado</div>
                            </div>
                        </div>
                    </div>
                    <div class="topicos">
                        <div class="topicos__title">
                            Habilidades
                        </div>
                        <div class="topicos__list">
                            <div class="topicos__list-item">
                                <img src="../../../../assets/images/icones/habilidades/baby.png" alt="Crianças" class="topicos__list-item-icon">
                                <div class="topicos__list-item-name">Crianças</div>
                            </div>
                            <div class="topicos__list-item">
                                <img src="../../../../assets/images/icones/habilidades/matematica.png" alt="Matematica" class="topicos__list-item-icon">
                                <div class="topicos__list-item-name">Números</div>
                            </div>
                            <div class="topicos__list-item">
                                <img src="../../../../assets/images/icones/habilidades/relacionamento.png" alt="Relacionamento" class="topicos__list-item-icon">
                                <div class="topicos__list-item-name">Relacionamento</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>