<section class="page candidatos">
    <div class="wrapper">

        <div class="header">
            <h1 class="title">Candidatos</h1>

            <div class="buttons">
                <a [routerLink]="['/candidatos']" class="buttons--item" aria-label="Botão de busca">
                    <mat-icon class="buttons--item-icon">dashboard</mat-icon>
                </a>
                <a [routerLink]="['/candidatos']" class="buttons--item" aria-label="Botão de busca">
                    <mat-icon class="buttons--item-icon">search</mat-icon>
                </a>
                
                <a [routerLink]="['/candidatos']" class="buttons--item" aria-label="Botão de filtro">
                    <mat-icon class="buttons--item-icon">filter_alt</mat-icon>
                </a>
            </div>
        </div>

        <div class="content wrapper">
            <!-- <div class="lista-candidatos">
            <div class="profissao">
                <div class="profissao__head">
                    <img src="../../../../assets/images/icones/profissao/ti.png">
                    <span>Programador(a)</span>
                </div>
                <div class="profissao__candidatos">
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                </div>
            </div>
            <div class="profissao">
                <div class="profissao__head">
                    <img src="../../../../assets/images/icones/profissao/telemarketing.png">
                    <span>Telemarketing</span>
                </div>
                <div class="profissao__candidatos">
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                </div>
            </div>
            <div class="profissao">
                <div class="profissao__head">
                    <img src="../../../../assets/images/icones/profissao/assistencia-tecnica.png">
                    <span>Assistencia Tecnica</span>
                </div>
                <div class="profissao__candidatos">
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                    <div class="item candidato">
                        <figure class="candidato__img">
                            <mat-icon>perm_identity</mat-icon>
                        </figure>
                        <div class="candidato__name">
                            Fernandinho
                        </div>
                    </div>
                </div>
            </div>
            </div> -->
            <div class="candidato__single wrapper">
                <h2 class="candidato__name">Professor(a)</h2>
                <div class="candidato__top">
                    <div class="candidato__top--left">
                        <div class="profile">
                            <figure class="candidato__img">
                                <mat-icon>perm_identity</mat-icon>
                            </figure>
                            <div class="compatibility">80% Compatível</div>
                        </div>
                        <div class="candidato__description">
                            Cyntia Sayuri de Almeida 19 anos, sla qualquer info básica
                        </div>
                    </div>
                    <div class="candidato__top--right">
                        <div class="content--description-box">
                            <app-description-box></app-description-box>
                        </div>
                    </div>
                </div>
                <div class="candidato__bottom">
                    <div class="candidato__bottom--left">
                        <h2 class="candidato__bottom--title">Requisitos</h2>
                        <ul class="candidato__requirements">
                            <li class="list__item--candidato">
                                <img src="../../../../assets/images/icones/requisitos/alfabetizacao.png" alt="Alfabetizado">
                                <span>Alfabetizado</span>
                            </li>  
                            <li class="list__item--candidato">
                                <img src="../../../../assets/images/icones/requisitos/escolaridade.png" alt="Escolarizado">
                                <span>Escolarizado</span>
                            </li>  
                        </ul>
                    </div>
                    <div class="candidato__bottom--right">
                        <h2 class="candidato__bottom--title">Habilidades</h2>
                        <ul class="candidato__skills">
                           <li class="list__item--candidato">
                                <img src="../../../../assets/images/icones/habilidades/baby.png" alt="Crianças">
                                <span>Bom com crianças ?</span>
                           </li>
                           <li class="list__item--candidato">
                                <img src="../../../../assets/images/icones/habilidades/matematica.png" alt="Matematica">
                                <span>Bom com numeros</span>
                           </li>
                           <li class="list__item--candidato">
                                <img src="../../../../assets/images/icones/habilidades/relacionamento.png" alt="Relacionamento">
                                <span>Bom relacionamento</span>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>