@import '../../../shared/scss/variables.scss';

.container-login {
    position: relative;

    &:after {
        background-image: url('../../../../assets/images/componentes/logo-bg.png') center no-repeat;
        background-size: 335px;
        content: '';
        display: block;
        height: 330px;
        right: 0px;
        position: absolute;
        top: 0;
        transform: translate(50%,-50%);
        width: 330px;
        z-index: 1;
    }
}

.section-login {
    margin: 0 auto;
    width: 75%;

    @include MQ($medium){
        width: 100%;
    }
}

.logo {
  display: block;
  text-align: center;
  width: 100%;

    &-img {
      margin: 50px auto;
      width: 125px;
    }
}

.intro {
    &-title {
        color: $black;
        font: 21px $font-regular;
        line-height: 25px;

        @include MQ($small) {
            font-size: 20px;
        }

        &-span {
            color: $primary_blue;
        }
    }

    &-desc {
        color: $gray;
        font: 14px $font-light;
        letter-spacing: 0.5px;
        margin: 5px 0 15px;
    }
}

.label {
    font: 11px $font-regular;
    letter-spacing: 0.5px;
    text-decoration: none;

    &-senha {
        color: $primary_blue;
        float: right;
        margin-top: 10px;
    }

    &-cadastrar {
        color: $gray;
        margin: 45px auto -40px;
        text-align: center;
    }
}

.login-btn-entrar {
    margin: 60px 0 50px;

    @include MQ($medium){
        margin: 40px 0 0;
    }
}

.btn {
    &-login {
        margin-top: 20px;
    }

    &-cod {
        background: transparent;
        border: 1px solid $dark_blue;
        color: $dark_blue;
    }

    &-cadastrar {
        background: transparent;
        border: 1px solid $gray;
        color: $gray;
    }

    &-link {
        text-decoration: none;
    }
}

.cadastro-content {
    display: flex;
    margin-top: 40px;
    width: 100%;

    &-item {
        width: 50%;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }
    }
}