<section class="wrapper-login">
    <div class="container container-login">
        <div class="logo-content">
            <div class="logo">
                <img src="assets/images/ijc.png" alt="Logo - Instituto Jô Clemente" class="logo-img">
            </div>
        </div>

        <div class="section section-login">
            <div class="intro">
                <h1 class="intro-title"> Seja bem-vindo! </h1>
                <h3 class="intro-desc"> Faça login para acessar a plataforma </h3>
            </div>
        </div>

        <form autocomplete="off" [formGroup]="loginForm" (submit)="sendLogin(loginForm)">
            <div class="form-inputs">
                <div class="form-input-email">
                    <input type="email" class="form-input-item" id="email" formControlName="email" placeholder="Login">
                </div>
            </div>

            <div class="form-inputs">
                <div class="form-input-senha">
                    <input type="password" class="form-input-item" id="password" formControlName="password" placeholder="Senha">
                </div>
            </div>

            <div class="form-label">
                <a class="label label-senha" href=""> Esqueceu a senha? </a>
            </div>

            <div class="cadastro-content">
                <div class="cadastro-content-item">
                    <a href="" class="btn btn-cadastrar"> Cadastre-se </a>
                </div>

                <div class="cadastro-content-item login-btn-entrar">
                    <button type="submit" class="btn btn-login"> Entrar </button>
                </div>
            </div>
        </form>
    </div>
</section>
