<section class="container container-login">
    <div class="logo-content">
        <div class="logo">
            <img src="../../../assets/images/componentes/logo.png" alt="Logo - A Good Fit" class="logo-img">
        </div>
    </div>

    <div class="section section-login">
        <div class="intro">
          <h1 class="intro-title">Seja bem-vindo a <span class="intro-title-span">Good Fit</span></h1>
          <h3 class="intro-desc">Entre para acessar a plataforma</h3>
        </div>

        <form [formGroup]="">
            <div class="form-inputs">
                <div class="form-input-email">
                  <input id="login" type="text" placeholder="Login" class="form-input-item" name="loginUsuario" value=""  autocomplete="login" autofocus>

                  <!-- error('loginUsuario') -->
                  <span class="erro" role="alert">
                    <strong>message</strong>
                  </span>
                  <!-- enderror -->
                </div>
            </div>

            <div class="form-inputs">
                <div class="form-input-senha">
                    <input id="password" type="password" placeholder="Senha" class="form-input-item" name="password"  autocomplete="current-password">

                    <!-- error('password') -->
                    <span class="erro" role="alert">
                      <strong>message</strong>
                    </span>
                    <!-- enderror -->
                </div>
            </div>

            <div class="form-label">
              <!-- if (Route::has('password.request')) -->
              <a class="label label-senha" href="">
               Esqueceu a senha ?
              </a>
              <!-- endif -->
            </div>

            <div class="login-btn-entrar">
              <button type="submit" class="btn btn-login">
                Entrar
              </button>
            </div>

            <div class="form-label">
              <a class="label label-cadastrar">Não tem uma conta?</a>
            </div>

            <div class="cadastro-content">
              <div class="cadastro-content-item">
                <a href="cadastro" class="btn btn-cadastrar">
                    Cadastre-se
                </a>
              </div>

              <div class="cadastro-content-item">
                <button type="submit" class="btn btn-cod">
                  Cod cadastro
                </button>
              </div>
            </div>

        </form>
    </div>
</section>
