<section class="vagas">
    <div class="wrapper">
        
        <div class="header">
            <h1 class="title">Vagas</h1>

            <div class="buttons">
                <div class="buttons-item">
                    <img src="../../../../assets/images/componentes/buscar.png" alt="Buscar" class="buttons-item-icon">
                </div>
                
                <div class="buttons-item">
                    <img src="../../../../assets/images/componentes/filtrar.png" alt="Filtrar" class="buttons-item-icon buttons-item-icon__filter">
                </div>
                
                <div class="buttons-item">
                    <div class="buttons-item-icon">
                        <div class="buttons-item-icon__add"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-img">
                        <img src="../../../../assets/images/icones/profissao/ti.png" alt="Nome da vaga" class="item-desc-img-icon">
                    </div>
                    <div class="item-desc-name">
                        Desenvolvedor
                        
                        <span>
                            <br/>
                            Front-End
                        </span>
                    </div>
                </div>

                <div class="item-info">
                    <div class="item-info-img">
                        <img src="../../../../assets/images/componentes/dolar.png" alt="Salário" class="item-info-img-icon">
                    </div>
                    <div class="item-info-text">
                        R$ 2020,00
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
            <div class="pagination-button">
                <img src="../../../../assets/images/componentes/pagination-icon.png" alt="Voltar" class="pagination-button-icon pagination-button-icon__prev">
            </div>
            
            <div class="pagination-number">
                <div class="pagination-number-item is-active">
                    1
                </div>
                <div class="pagination-number-item">
                    2
                </div>
                <div class="pagination-number-item">
                    3
                </div>
            </div>

            <div class="pagination-button">
                <img src="../../../../assets/images/componentes/pagination-icon.png" alt="Avançar" class="pagination-button-icon">
            </div>
        </div>

    </div>
</section>