<section class="container container-cadastro">
  <div class="etapas etapas-cadastro">
    <div class="counter-etapas-content" *ngIf="user === 'unset'">
      <div class="icon-voltar icon-voltar-cadastro">
        <a href="login">
          <img src="../../../assets/images/componentes/seta-voltar.svg" alt="Voltar" class="icon-voltar-img">
        </a>
      </div>
      <div class="section section-cadastro">
        <div class="cadastro-intro">
          <h3 class="intro-title">Seja bem-vindo!</h3>
          <p class="intro-desc">Para começarmos, informe-nos que tipo de usuário você é...</p>
        </div>
        <div class="cadastro-etapa1-content">
          <div class="cadastro-etapa1-content-item">
            <input id="candidato" class="radio radio-cadastro" (click)="setUserType('candidato')" name="codNivelUsuario" type="radio" value="2">
            <label class="radio-label" for="candidato">
              <img src="../../../assets/images/icones/boy.png" alt="Candidato" class="radio-label-icon">
              <p class="radio-label-desc">
                Candidato
              </p>
            </label>
          </div>
      
          <div class="cadastro-etapa1-content-item">
            <input id="empresa" class="radio radio-cadastro" (click)="setUserType('empresa')" name="codNivelUsuario" type="radio" value="1">
            <label class="radio-label" for="empresa">
              <img src="../../../assets/images/icones/empresa.png" alt="Empresa" class="radio-label-icon">
              <p class="radio-label-desc">
                Empresa
              </p>
            </label>
          </div>
        </div>
      </div>
    </div>
    <app-candidato *ngIf="user === 'candidato'"></app-candidato>
    <div class="counter-etapas-content">
      <app-empresa *ngIf="user === 'empresa'"></app-empresa>
    </div>
    <div class="counter-etapas-content">
      <!-- page #1 -->
    </div>
  </div>
</section>
